/*=============================*/
/*----------------basic setup-------*/
/*===============================*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    /*this make our font render in correct way*/
    text-rendering: optimizeLegibility;
    overflow-x:hidden;
} 
/* to clear the float after it be done*/
.clearfix {zoom:1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*=============================*/
/*--------------reusable component-------*/
/*===============================*/
 .row {
     max-width: 1140px;
     /* to put them in the center*/
     margin: 0 auto 0 auto;
     /*or  to make it short write
     margin : 0 auto this mean up and down zero right and left auto*/

 }

 section {
     padding: 80px  0;
 }

 .box {
     padding: 1%;
 }



 h1,
 h2,
 h3 {
   
     font-size: 240%;
     font-weight: 300;
     text-transform: uppercase;
     letter-spacing: 1px;
  
 }

 h1 {
    margin-top: 0;
    color: #fff;
    word-spacing: 4px;
 }

 h2{
     font-size: 180%;
     word-spacing: 2px;
     text-align: center;
     margin-bottom: 30px;
 }


 h3 {
    font-size: 110%;
    margin-bottom: 15px;
    
}


/* if we want to add any thing after soducode we use after method
and here we should add what we need to appear in the contennt 
but in this case we dont need any thing*/
 h2:after {
     display: block;
     height: 2px;
     background-color: #e67e22;
     content: " ";
     width: 100px;
     /* now to put the line in the center we write inthe margin
     top and down 0 , right and left auto*/
     margin: 0 auto;
     margin-top: 30px;


 }


 /*=============================*/
/*------------paragraphs-------*/
/*===============================*/
.long-copy {
    line-height: 145%;
    /* to put the paragraphin the midle i use width and margin */
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;

}

/*=============================*/
/*------------ICONS-------*/
/*===============================*/
.icon-big {
font-size: 300%;
display: block;
color: #e67e22;
margin-bottom: 10px;
}

.small-icon {
    color:#e67e22;
    width: 30px;
    font-size: 120%;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    /*secret to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/*=============================*/
/*----------LINKS-------*/
/*===============================*/
a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: background-color 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    /* to back the underline to origin color i write ransparennt*/
    border-bottom: 1px solid transparent;
}

 /*=============================*/
/*------------buttons-------*/
/*===============================*/
 /* this style for the btn when it is viseted and when t is not*/

 .btn:link,
 .btn:visited,
input[type=submit]{
     /* it was inline , ichange it to inline block to add for it padding 
     and margine*/
     display: inline-block;
     /* 10 for up and down 30left and right*/
     padding: 10px 30px;
     font-weight: 300;
     /* git ride of the underline*/
     text-decoration: none;
     border-radius: 200px;
     color: #fff;


 }


 .btn-full:link,
 .btn-full:visited,
input[type=submit]{
     background-color: #e67e22;
     border: 1px solid #227de6;
    
 }

 .btn-ghost:link,
 .btn-ghost:visited {
     border: 1px solid #e67e22;
    color :#e67e22;
 }
 
 .btn:hover,
 .btn:active,
input[type=submit]:hover,
input[type=submit]:active{
     background-color: #cf6d17;
 }

 .btn-full:hover,
 .btn-full:active,
input[type=submit]{
    
     border: 1px solid #cf6d17;
    
 }

 .btn-ghost:hover,
 .btn-ghost:active {
     border: 1px solid #cf6d17;
    color :#fff;
 }

/*=============================*/
/*----------------headers-------*/
/*===============================*/
 header {
    /* put linear-gradient to add two backgroung imges at the same 
    time (to cover the img with thin cover of dark i will put 70%*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    /*to see all the content of the img not just part of it*/
    background-size: cover;
    background-position: center;
    /*to make the photo show in all the page*/
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box  {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    /* it to translate the element half of its width and of its width
    up and into the left*/
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    /* put them in one line by line block, and add spce btween them by margin*/
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    /* this mean it will ot show the border until itis hoverd*/
    border-bottom: 2px solid transparent;
    /* add pading to make space btwen the word and the border*/
    padding: 8px 0;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}

/*=============================*/
/*----------------FEATURE-------*/
/*===============================*/
.section-feature .long-copy {
    margin-bottom: 30px;
}

/*=============================*/
/*----------------MEALS-------*/
/*===============================*/

.section-meals {
    padding: 0;
}


.meals-showcase {
list-style: none;
width: 100%;

}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;

}

.meal-photo {
    /* it has the exact width of its parents 100% */
    width: 100%;
    margin: 0;
    /* the transfom will be hidden until we hover  */
    overflow: hidden;
    background-color: #000;
}

/* to make the animation for a photo we make opacity 0.7 to make lighter
then on hover mke opacity 1  then the background color black*/

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    /* to make the photo bigger than the 100 we write 115
    this to appear when we hover overit */
    transform: scale(1.15);
    /* animat transtion*/
    transition: transform 0.5s, opacity 0.5s;

}

.meal-photo img:hover{
    opacity: 1;
    transform: scale(1.03);
}


/*=============================*/
/*---------------HOW IT WORKS-------*/
/*===============================*/
.section-steps {
    background-color: #f4f4f4;
}
/* this will deal with first colmn*/
.steps-box:first-child {
text-align: right;
padding-right: 3%;
margin-top: 30px;
}



.steps-box:last-child {
padding-left: 3%;
margin-top: 70px;


}
.app-screen {
    width: 40%;
}
.works-step {
    margin-bottom: 50px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    /* add this method to allow for us to put the number bbeside the text*/
    display: block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    /* to put the text beside the number use float*/
    float: left;
    font-size: 150%;
    margin-right: 25px;

}
/* i did this things  coz this link has an effect with linkstyle*/
.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
    margin-top: 80px;
}

/*=============================*/
/*----------CITIES-------*/
/*===============================*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15%;
}

.city-feature {
    margin-bottom: 5px;
}


/*=============================*/
/*----------TEST-------*/
/*===============================*/

.section-test {
    background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    /* to make the img fixed while the words move */
    background-attachment: fixed;
  
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}
/* to add  qoution before text , to add any text we use content
, and to add th quetion i go css tricks glyphs websit and take the
code foe quetion mark*/
blockquote::before{
content: "\201C";
font-size: 500%;
/* make it block with its parent*/
display: block;
/* to can move the quotation we should put it in the absolute position
and its parent in relative position coz if we didn't do that 
it doesn't work*/
position: absolute;
top:-5px;
left: -5px;
}


cite {
    font-size: 90%;
    margin-top: 50px;
    /* i use display block to put all the pargraph in one place*/
    display: block;
}
 cite img {
     height: 50px;
     border-radius: 50%;
     margin-right: 10px;
     /* to put he text in the same line with the photo*/
     vertical-align: middle;
 }

 /*=============================*/
/*----------SIGN UP------*/
/*===============================*/

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width:90%;
    /* to put in the center i add 5% coz the width 90% so it remains 
    only 10%*/
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* to put the btns int the center*/
.plan-box div:last-child {
    text-align: center;
    /* to delete the border */
    border: 0;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}
.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-meal{
font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

/*=============================*/
/*---------------FORM-------*/
/*===============================*/

.section-form {
    width:60%;
    margin: 0 auto;
}

/* to specify that we need this input only i  write like this*/
input[type=text],
input[type=email],
select,
textarea {
    width:100%;
    /* to make size of the input bigger (inside space|)*/
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

/* to make textarea bigger*/
textarea {
    height: 100px;
}
/* to ad space btween checkbox and the sentence*/
input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

/*to delete the focus color when we click inside the inpt*/
*:focus{outline:none }

/*=============================*/
/*--------------FOOTER-------*/
/*===============================*/

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float:right;
}

/* to put the li in one line i write display inline-bloke*/
.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color:#ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%
}
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.2s;
}
.ion-social-facebook:hover {
    color: #3b5998;
}
.ion-social-twitter:hover {
    color:#00aced; 
}
.ion-social-googleplus:hover {
    color: #dd4d39;
}
.ion-social-instagram:hover {
    color: #517fa4;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}